<div class="col">
  <h1>Editing Picture</h1>

  <%= image_detail_modal_link(@picture) %>

  <%= render 'form', picture: @picture %>

  <br />
  <br />

  <%= link_to 'Back', gallery_pictures_path %>

</div>