// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edit_form_image {
  width: 30rem;
  height: auto;
}

.show_image {
  width: 40rem;
  height: auto;
}

.modal_image {
  width: 60rem;
  height: auto;
}